In [4]:
def generate_full_name ():
    first_name = 'Sandeep'
    last_name = 'Kolanu'
    space = ' '
    full_name = first_name + space + last_name
    print(full_name)
generate_full_name() # calling a function

def add_two_numbers ():
    num_one = 2
    num_two = 3
    total = num_one + num_two
    print(total)
add_two_numbers()

Sandeep Kolanu

'\ndef add_two_numbers ():\n    num_one = 2\n    num_two = 3\n    total = num_one + num_two\n    print(total)\nadd_two_numbers()\n'

In [9]:
def generate_full_name ():
    first_name = 'sandeep'
    last_name = 'kolanu'
    space = ' '
    full_name = first_name + space + last_name
    return full_name
name = generate_full_name()
print(name)

def add_two_numbers ():
    num_one = 2
    num_two = 3
    total = num_one + num_two
    return total
print(add_two_numbers())

sandeep kolanu
5

In [10]:
def greetings (name):
    message = name + ', welcome to Python for Everyone!'
    return message

print(greetings('sandeep'))

def add_ten(num):
    ten = 10
    return num + ten
print(add_ten(90))

def square_number(x):
    return x * x
print(square_number(2))

def area_of_circle (r):
    PI = 3.14
    area = PI * r ** 2
    return area
print(area_of_circle(10))

def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total+=i
    return total
print(sum_of_numbers(10)) # 55
print(sum_of_numbers(100)) # 5050

sandeep, welcome to Python for Everyone!
100
4
314.0
55
5050

In [12]:
def greetings (name ,age):
    message = name + '  '+age  +', welcome to Python for Everyone!'
    return message

print(greetings('sandeep ','21'))

sandeep   21, welcome to Python for Everyone!

In [ ]:
def generate_full_name (first_name, last_name):
    space = ' '
      full_name = first_name + space + last_name
      return full_name
print('Full Name: ', generate_full_name('sandeep','kolanu'))

def sum_two_numbers (num_one, num_two):
    sum = num_one + num_two
    return sum
print('Sum of two numbers: ', sum_two_numbers(1, 9))

def calculate_age (current_year, birth_year):
    age = current_year - birth_year
    return age 

print('Age: ', calculate_age(2021, 1819))

def weight_of_object (mass, gravity):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to a string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100, 9.81))

In [14]:
def print_fullname(firstname, lastname):
    space = ' '
    full_name = firstname  + space + lastname
    print(full_name)
print_fullname( 'sandeep', 'kolanu')    
print_fullname( 'kolanu', 'sandeep')    
print_fullname(firstname = 'sandeep', lastname = 'kolanu')
print_fullname(lastname = 'kolanu',firstname = 'sandeep')

sandeep kolanu
kolanu sandeep
sandeep kolanu
sandeep kolanu

In [15]:
def greetings (name = 'Peter'):
    message = name + ', welcome to Python for Everyone!'
    return message
print(greetings())
print(greetings('sandeep'))

def generate_full_name (first_name = 'sandeep', last_name = 'kolanu'):
    space = ' '
    full_name = first_name + space + last_name
    return full_name

print(generate_full_name())
print(generate_full_name('rambabu','Smith'))

def calculate_age (birth_year,current_year = 2021):
    age = current_year - birth_year
    return age 
print('Age: ', calculate_age(1821))

def weight_of_object (mass, gravity = 9.81):
    weight = str(mass * gravity)+ ' N' # the value has to be changed to string first
    return weight
print('Weight of an object in Newtons: ', weight_of_object(100)) # 9.81 - average gravity on Earth's surface
print('Weight of an object in Newtons: ', weight_of_object(100, 1.62)) # gravity on the surface of the Moon

Peter, welcome to Python for Everyone!
sandeep, welcome to Python for Everyone!

In [16]:
def sum_all_nums(*nums):
    total = 0
    for num in nums:
        total += num     # same as total = total + num 
    return total
print(sum_all_nums(2, 3, 5)) # 10

print(sum_all_nums(8, 12, 20,40,10)) # 90

10
90

In [19]:
def generate_groups (team,*args):
    print(team, ':')
    for i in args:
        print('  ',i) 
generate_groups('Team-1','sandeep','Brook','rambabu','Eyob')

Team-1 :
   sandeep
   Brook
   rambabu
   Eyob

In [24]:
 #Define a function that takes two arguments: 'name' and 'location'
def greet(name, location):
    # Print a greeting message using the provided arguments
    print("Hi there", name, "how is the weather in", location)

# Call the function using keyword arguments
greet(name="Sam", location="New York")  
# Output: Hi there Alice how is the weather in New York

# Create a dictionary with keys matching the function's parameter names
my_dict = {"name": "Rob", "location": "Toronto"}

# Call the function using dictionary unpacking
greet(**my_dict)  
# The ** operator unpacks the dictionary, passing its key-value pairs 
# as keyword arguments to the function.
# Output: Hi there Alice how is the weather in New York

Hi there Sam how is the weather in New York
Hi there Rob how is the weather in Toronto