In Python we can create lists in two ways:

Using list built-in function list() and Using square brackets, []

In [1]:
empty_list = list() # this is an empty list, no item in the list
print(len(empty_list)) # 0
empty_list = [] # this is an empty list, no item in the list
print(len(empty_list)) # 0

0
0

In [10]:
cars = ['camry', 'corolla', 'rav4', '4runner']                     # list of cars
vegetables = ['Tomato', 'Potato', 'Cabbage','Onion', 'Carrot']      # list of vegetables
animal_products = ['milk', 'meat', 'butter', 'yoghurt']             # list of animal products
web_techs = ['HTML', 'CSS', 'JS', 'React','Redux', 'Node', 'MongDB'] # list of web technologies
countries = ['Canada', 'USA', 'INDIA', 'JAPAN', 'MEXICO'] 

# Print the lists and its length
print('cars:', cars)
print('Number of cars:', len(cars))
print('Vegetables:', vegetables)
print('Number of vegetables:', len(vegetables))
print('Animal products:',animal_products)
print('Number of animal products:', len(animal_products))
print('Web technologies:', web_techs)
print('Number of web technologies:', len(web_techs))
print('Countries:', countries)
print('Number of countries:', len(countries))

cars: ['camry', 'corolla', 'rav4', '4runner']
Number of cars: 4
Vegetables: ['Tomato', 'Potato', 'Cabbage', 'Onion', 'Carrot']
Number of vegetables: 5
Animal products: ['milk', 'meat', 'butter', 'yoghurt']
Number of animal products: 4
Web technologies: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'MongDB']
Number of web technologies: 7
Countries: ['Canada', 'USA', 'INDIA', 'JAPAN', 'MEXICO']
Number of countries: 5

In [3]:
 lst = ['Sandeep', 200, True, {'country':'Canada', 'city':'Toronto'}] # list containing different data types

             ['camry', 'corolla', 'rav4', '4runner']
INDEXING     [ 0,          1,          2,       3  ]
             [ -4,          -3,          -2,       -1]

In [11]:
first_car = cars[0] # we are accessing the first item using its index
print(first_car)      # camry
first_car = cars[-4] # we are accessing the first item using its Negative Indexing
print(first_car)      # camry

camry
camry

UN PACKING

In [12]:
first, second, third,*rest, tenth = [1,2,3,4,5,6,7,8,9,10]
print(first)          # 1
print(second)         # 2
print(third)          # 3
print(rest)           # [4,5,6,7,8,9]
print(tenth)          # 10

1
2
3
[4, 5, 6, 7, 8, 9]
10

In [15]:
#Slicing Items from a List
cars = ['camry', 'corolla', 'rav4', '4runner']
all_cars = cars[0:4] # it returns all the cars
print(all_cars)
# this will also give the same result as the one above
all_cars = cars[0:] # if we don't set where to stop it takes all the rest
print(all_cars)
corolla_and_rav4 = cars[1:3] # it does not include the first index
print(corolla_and_rav4)
corolla_rav4_4runner = cars[1:]
print(corolla_rav4_4runner)
corolla_and_4runner = cars[::2] # here we used a 3rd argument, step. It will take every 2cnd item - ['camry', 'rav4']
print(corolla_and_4runner)
corolla_and_4runner = cars[::-1]
print(corolla_and_4runner)

['camry', 'corolla', 'rav4', '4runner']
['camry', 'corolla', 'rav4', '4runner']
['corolla', 'rav4']
['corolla', 'rav4', '4runner']
['camry', 'rav4']
['4runner', 'rav4', 'corolla', 'camry']

In [7]:
cars = ['camry', 'corolla', 'rav4', '4runner']
all_cars = cars[-4:] # it returns all the cars
corolla_and_rav4 = cars[-3:-1] # it does not include the last index,['corolla', 'rav4']
corolla_rav4_4runner = cars[-3:] # this will give starting from -3 to the end,['corolla', 'rav4', '4runner']
reverse_cars = cars[::-1] # a negative step will take the list in reverse order,['4runner', 'rav4', 'corolla', 'camry']

In [16]:
#Modifying Lists

cars = ['camry', 'corolla', 'rav4', '4runner']
cars[0] = 'Tacoma'
print(cars)       #  ['Tacoma ', 'corolla', 'rav4', '4runner']

# Checking Items in a List

cars = ['camry', 'corolla', 'rav4', '4runner']
does_exist = 'camry' in cars
print(does_exist)  # True

# Adding Items to a List
cars = ['camry', 'corolla', 'rav4', '4runner']
cars.append('apple')
print(cars)   

#Inserting Items into a List
'''
# syntax
lst = ['item1', 'item2']
lst.insert(index, item)
'''
cars = ['camry', 'corolla', 'rav4', '4runner']
cars.insert(2, 'apple') # insert apple between corolla and rav4
print(cars)           # ['camry', 'corolla', 'apple', 'rav4', '4runner']

['Tacoma', 'corolla', 'rav4', '4runner']
True
['camry', 'corolla', 'rav4', '4runner', 'apple']
['camry', 'corolla', 'apple', 'rav4', '4runner']

In [19]:

#Removing Items from a List
'''
lst = ['item1', 'item2']
lst.remove(item)
'''
cars = ['camry', 'corolla', 'rav4', '4runner', 'camry']
cars.remove('camry')
print(cars)  # ['corolla', 'rav4', '4runner', 'camry'] - this method removes the first occurrence of the item in the list

['corolla', 'rav4', '4runner', 'camry']

In [20]:
#Removing Items Using Pop

'''
lst = ['item1', 'item2']
lst.pop()       # last item
lst.pop(index)
'''

cars = ['camry', 'corolla', 'rav4', '4runner']
cars.pop()
print(cars)       # ['camry', 'corolla', 'rav4']

cars.pop(0)
print(cars)       # ['corolla', 'rav4']

['camry', 'corolla', 'rav4']
['corolla', 'rav4']

In [21]:

##Removing Items Using Del
'''
# syntax
lst = ['item1', 'item2']
del lst[index] # only a single item
del lst        # to delete the list completely
'''

cars = ['camry', 'corolla', 'rav4', '4runner', 'Tacoma ', 'Highlander']
del cars[0]
print(cars)       # ['corolla', 'rav4', '4runner', 'Tacoma ', 'Highlander']
del cars[1]
print(cars)       # ['corolla', '4runner', 'Tacoma ', 'Highlander']
del cars[1:3]     # this deletes items between given indexes, so it does not delete the item with index 3!
print(cars)       # ['corolla', 'Highlander']
del cars
print(cars)       # This should give: NameError: name 'cars' is not defined

['corolla', 'rav4', '4runner', 'Tacoma ', 'Highlander']
['corolla', '4runner', 'Tacoma ', 'Highlander']
['corolla', 'Highlander']

NameError: name 'cars' is not defined

In [22]:
#Clearing List Items
'''
# syntax
lst = ['item1', 'item2']
lst.clear()
'''
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.clear()
print(fruits)       # []

# Copying a List
'''
# syntax
lst = ['item1', 'item2']
lst_copy = lst.copy()
'''
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits_copy = fruits.copy()
print(fruits_copy)       # ['banana', 'orange', 'mango', 'lemon']

[]
['banana', 'orange', 'mango', 'lemon']

In [24]:
#Joining Lists
'''
# syntax
list3 = list1 + list2
'''
positive_numbers = [1, 2, 3, 4, 5]
zero = [0]
negative_numbers = [-5,-4,-3,-2,-1]
integers = negative_numbers + zero + positive_numbers
print(integers) # [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

'''
# syntax
list1 = ['item1', 'item2']
list2 = ['item3', 'item4', 'item5']
list1.extend(list2) # ['item1', 'item2', 'item3', 'item4', 'item5']
'''
num1 = [0, 1, 2, 3]
num2= [4, 5, 6]
num1.extend(num2)
print('Numbers:', num1) # Numbers: [0, 1, 2, 3, 4, 5, 6]

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]
Numbers: [0, 1, 2, 3, 4, 5, 6]

In [ ]:
# Counting Items in a List
'''
# syntax
lst = ['item1', 'item2']
lst.count(item)
'''
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits.count('orange'))   # 1

ages = [22, 19, 24, 25, 26, 24, 25, 24]
print(ages.count(24))           # 3

#Finding Index of an Item
'''
# syntax
lst = ['item1', 'item2']
lst.index(item)
'''

fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits.index('orange'))   # 1
ages = [22, 19, 24, 25, 26, 24, 25, 24]
print(ages.index(24))           # 2, the first occurrence

#Reversing a List
'''
## syntax
lst = ['item1', 'item2']
lst.reverse()
'''
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.reverse()
print(fruits) # ['lemon', 'mango', 'orange', 'banana']

#Sorting List Items
'''
# syntax
lst = ['item1', 'item2']
lst.sort()                # ascending
lst.sort(reverse=True)    # descending
'''
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.sort()
print(fruits)             # sorted in alphabetical order, ['banana', 'lemon', 'mango', 'orange']
fruits.sort(reverse=True)
print(fruits) # ['orange', 'mango', 'lemon', 'banana']

##sorted method
fruits = ['banana', 'orange', 'mango', 'lemon']
print(sorted(fruits))   # ['banana', 'lemon', 'mango', 'orange']
print( sorted(fruits,reverse=True))  # ['orange', 'mango', 'lemon', 'banana']