In [1]:
count = 0
while count < 5:
    print(count)
    count = count + 1
#prints from 0 to 4

0
1
2
3
4

In [3]:
count = 0
while count < 5:
    print(count)
    count = count + 1
else:
    print(count)

0
1
2
3
4
5

In [4]:
count = 0
while count < 5:
    print(count)
    count = count + 1
    if count == 3:
        break

0
1
2

In [7]:
count = 0
while count < 5:
    if count == 3:
        print('skipped',count)
        count += 1
        continue
    print(count)
    count = count + 1

0
1
2
skipped 3
4

In [8]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers: # number is temporary name to refer to the list's items, valid only inside this loop
    print(number)       # the numbers will be printed line by line, from 0 to 5

0
1
2
3
4
5

In [15]:
language = 'Python'
for letter in language:
    print(letter)

print(len(language))
print(range(len(language)))

for i in range(len(language)):
    print(i,language[i])

P
y
t
h
o
n
6
range(0, 6)
0 P
1 y
2 t
3 h
4 o
5 n

In [16]:
numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
    print(number)

0
1
2
3
4
5

In [18]:
person = {
    'first_name':'sandeep',
    'last_name':'kolanu',
    'age':250,
    'country':'canada',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

first_name
last_name
age
country
is_marred
skills
address
first_name sandeep
last_name kolanu
age 250
country canada
is_marred True
skills ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address {'street': 'Space street', 'zipcode': '02210'}

In [21]:
lst = list(range(11))
print(lst) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in lst:
    print(i)
    
st = set(range(1, 11))    # 2 arguments indicate start and end of the sequence, step set to default 1
print(st) # {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
for i in st:
    print(i)

lst = tuple(range(11))
print(lst) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in lst:
    print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
0
1
2
3
4
5
6
7
8
9
10
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
1
2
3
4
5
6
7
8
9
10
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
0
1
2
3
4
5
6
7
8
9
10