Built in functions
In Python we have lots of built-in functions.
Built-in functions are globally available for your use that mean you can make use of the built-in functions without importing or configuring. 
Some of the most commonly used Python built-in functions are the following: print(), len(), type(), int(), float(), str(), input(), list(), dict(), min(), max(), sum(), sorted(), open(), file(), help(), and dir().

In [2]:
print('Pradeep')
print('My','name','is','Pradeep')
print(len('Pradeep'))
help('len')

Pradeep
My name is Pradeep
7
Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [ ]:
 Rules for Python Variables 
    1)Start with a letter or an underscore: A variable name must begin with a letter (A-z) or the underscore character (_). 
        It cannot start with a number (e.g., 1variable is invalid, but variable1 is valid).
    2)Allowed characters: A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _). 
        Special characters, spaces, and punctuation marks (like @, $, %, or -) are not permitted.
    3)Avoid reserved keywords: You cannot use any of Python's reserved keywords (like if, for, class, print, etc.) as variable names,
        as these words have special meanings in Python.
    4)Case sensitivity: Variable names are case-sensitive. For example, age, Age, and AGE are three different variables.

In [7]:
#invalid  declarations
my-name
my@name
my$name
num-1
1num

SyntaxError: invalid decimal literal (1957555036.py, line 5)

In [3]:
#valid declarations
first_name = 'Pradeep'
last_name = 'Kolanu'
country = 'Canada'
city = 'Toronto'
is_married = True
person_info = {
   'Height':'182',
   'Weight_in_pounds':'200'
   }
phone= 647
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Person information: ', person_info)

First name: Pradeep
First name length: 7
Last name:  Kolanu
Last name length:  6
Country:  Canada
City:  Toronto
Person information:  {'Height': '182', 'Weight_in_pounds': '200'}

In [6]:
first_name, last_name, country,  is_married = 'Pradeep', 'Kolanu', 'Canada',  True
print(first_name, last_name, country,  is_married)
print('First name:', first_name)
print('Last name: ', last_name)

Pradeep Kolanu Canada True
First name: Pradeep
Last name:  Kolanu

Data Types

There are several data types in Python. To identify the data type we use the type built-in function. 
Checking Data types and Casting

    Check Data types: To check the data type of certain data/variable we use the type Examples:

In [7]:
# Different python data types
# Let's declare variables with various data types

first_name = 'Pradeep'     # str
last_name = 'Kolanu'       # str
country = 'Canada'         # str
city= 'Toronto'            # str


# Printing out types
print(type('Pradeep'))          # str
print(type(first_name))          # str
print(type(10))                  # int
print(type(3.14))                # float
print(type(1 + 1j))              # complex
print(type(True))                # bool
print(type([1, 2, 3, 4]))        # list
print(type({'name':'Asabeneh'})) # dict
print(type((1,2)))               # tuple

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

Casting: 
Converting one data type to another data type. We use int(), float(), str(), list, set

In [9]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10.6'
num_float = float(num_str)  # Convert the string to a float first
num_int = int(num_float)    # Then convert the float to an integer
#print('num_int', int(num_str))      # 10
print('num_float', float(num_str))  # 10.6
num_int = int(num_float)
print('num_int', int(num_int))      # 10

# str to list
Country = 'CANADA'
print(Country)               # 'CANADA'
Country_to_list = list(Country)
print(Country_to_list)            # ['P', 'r', 'a', 'd', 'e', 'e', 'p']

Country_to_tuple = tuple(Country)
print(Country_to_tuple)            # ('P', 'r', 'a', 'd', 'e', 'e', 'p')

Country_to_set = set(Country)
print(Country_to_set)            # ('P', 'r', 'a', 'd', 'e', 'e', 'p')

num_int 10
num_float: 10.0
9
10
10

ValueError: invalid literal for int() with base 10: '10.6'